.wrapper {
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  // 头像
  .infoBox {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    .headShot {
      margin-right: 12px;
      width: 76px;
      height: 76px;
      background-image: url('../assets/images/mine_head\ portrait@2x.png');
      background-size: 100% 100%;
    }
    .info {
      padding-top: 16px;
      padding-bottom: 16px;
      .nickName {
        font-size: 17px;
        color: #333;
        line-height: 17px;
        margin-bottom: 12px;
      }
      .phone {
        font-size: 14px;
        color: #b0b0b0;
        line-height: 14px;
      }
    }
  }
  // 会员卡
  .memberCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    width: 345px;
    height: 52px;
    background: #ffd32a;
    border-radius: 4px;
    .rightBox {
      display: flex;
      align-items: center;
      .icon {
        margin-right: 10px;
        width: 27px;
        height: 18px;
        line-height: 18px;
      }
      .cardName {
        font-size: 14px;
        color: #333;
        line-height: 14px;
      }
    }
    .btn {
      width: 54px;
      height: 28px;
      line-height: 28px;
      text-align: center;
      background-color: #333;
      color: #fff;
      border-radius: 14px;
    }
  }
  // 我的订单
  .orderBox {
    margin-top: 20px;
    .title {
      font-size: 17px;
      color: #333;
      line-height: 17px;
    }
    .myOrder {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 25px;
      padding-bottom: 20px;
      .orderItem {
        .iconBox {
          width: 30px;
          height: 30px;
          margin: 0 auto;
        }
        .iconName {
          margin-top: 10px;
          font-size: 14px;
          color: #999;
          line-height: 14px;
        }
      }
    }
  }
  // 我的数据
  .dataBox {
    height: calc(100% - 282px);
    overflow: scroll;
    &::-webkit-scrollbar { 
      display: none !important;
    }
    .dataItem {
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #f6f6f6;
      .dataName {
        font-size: 15px;
        color: #333;
        line-height: 15px;
      }
      .icon {
        width: 7px;
        height: 13px;
        background-image: url('../assets/images/order_btn_arrow@2x.png');
        background-size: 100% 100%;
      }
    }
  }
}
// 字体图标
.iconhuiyuanqia {
  font-size: 30px;
  color: #5B79FB;
}
.iconyanzhengqupiao {
  font-size: 30px;
}
.icondaiqumaipin {
  font-size: 30px;
  color: rgb(69, 166, 255);
}
.icondaichuli {
  font-size: 30px;
  color: rgb(236, 114, 32);
}
.iconyijieshu {
  font-size: 30px;
}