.wrapper {
  padding-top: 20px;
  .imgBox {
    // width: 347px;
    height: 150px;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .contentBox {
    padding-left: 10px;
    .title {
      margin-top: 15px;
      font-size: 17px;
      font-weight: 500;
      color: #333;
      line-height: 17px;
      width: 335px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .time {
      margin-top: 10px;
      font-size: 13px;
      font-weight:400;
      color: #999;
      line-height: 13px;
    }
  }
}